:root {
    --primary-text-color: yellowgreen;
    --secondary-text-color: green;
    --primary-dark: #353A3F;
}

body {
    background: #F8F9FA;
}

a {
    color: var(--primary-text-color);
}

a:hover {
    color: var(--secondary-text-color);
    text-decoration: none;
}