.user-container {
    margin-top: 40px;
}

.user {
    border: 3px solid var(--secondary-color);
    color: white;
    margin-top: 40px;
}

.user .user-link {
    color: white;
    text-decoration: none;
}

.user .user-link:hover {
    color: var(--secondary-color);
}
